<!-- application pre loader  -->
<!-- <div id="applicationPreLoader">
  <div id="preloader">
    <div class="loader spinner">
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
    </div>
  </div> -->
  <!-- LOADING DOTS... -->
  <!-- <div class="spinner-box">
    <div class="pulse-container">
      <div class="pulse-bubble pulse-bubble-1"></div>
      <div class="pulse-bubble pulse-bubble-2"></div>
      <div class="pulse-bubble pulse-bubble-3"></div>
    </div>
  </div>
</div> -->

<!-- Header -->

<header class="header">
  <!-- Header Main -->

  <div class="header_main">
    <div class="container">
      <div class="row">
        <!-- Logo -->
        <div class="col-lg-2 col-sm-3 col-3 order-1">
          <div class="logo_container">
            <div class="logo"><a routerLink="/home">Techstore</a></div>
          </div>
        </div>

        <!-- Search -->
        <div class="col-lg-6 col-12 order-lg-2 order-3 text-lg-left text-right">
          <div class="header_search">
            <div class="header_search_content">
              <div class="header_search_form_container">
                <form class="header_search_form clearfix">
                  <input
                    type="search"
                    required="required"
                    id="header_search_input"
                    class="header_search_input"
                    [(ngModel)]="searchWord"
                    [ngModelOptions]="{ standalone: true }"
                    placeholder="Search for products..."
                  />
                  <div class="custom_dropdown">
                    <div class="custom_dropdown_list">
                      <span class="custom_dropdown_placeholder clc"
                        >All Categories</span
                      >
                    </div>
                  </div>
                  <a
                    [routerLink]="['/search', searchWord, 1]"
                    class="header_search_button trans_300"
                    ><i class="fas fa-search"></i
                  ></a>
                </form>
              </div>
            </div>
          </div>
        </div>

        <!-- Wishlist -->
        <div class="col-lg-4 col-9 order-lg-3 order-2 text-lg-left text-right">
          <div
            class="
              wishlist_cart
              d-flex
              flex-row
              align-items-center
              justify-content-end

            "
          >
            <!-- Cart -->
            <div class="cart">
              <div
                class="
                  cart_container
                  d-flex
                  flex-row
                  align-items-center
                  justify-content-end
                "
              >
                <div class="cart_icon">
                  <img src="../../assets/test/cart.png" alt="" />
                  <div class="cart_count">
                    <span>{{ cartCount }}</span>
                  </div>
                </div>
                <div class="cart_content">
                  <div class="cart_text"><a routerLink="/cart">Cart</a></div>
                  <div class="cart_price">${{ totalPrice }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Main Navigation -->

  <nav class="main_nav">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="main_nav_content d-flex flex-row">
            <!-- Categories Menu -->

            <div class="cat_menu_container">
              <div
                class="
                  cat_menu_title
                  d-flex
                  flex-row
                  align-items-center
                  justify-content-start
                "
              >
                <div class="cat_burger">
                  <span></span><span></span><span></span>
                </div>
                <div class="cat_menu_text">categories</div>
              </div>

              <ul class="cat_menu">
                <li *ngFor="let category of categories">
                  <a routerLink="/category/{{ category.id }}/1"
                    >{{ category.name }}
                  </a>
                </li>
              </ul>
            </div>

            <!-- Main Nav Menu -->

            <div class="main_nav_menu ml-auto">
              <ul class="standard_dropdown main_nav_dropdown">
                <li>
                  <a routerLink="/home"
                    >Home<i class="fas fa-chevron-down"></i
                  ></a>
                </li>
                <li>
                  <a routerLink="/products"
                    >All products<i class="fas fa-chevron-down"></i
                  ></a>
                </li>
                <li>
                  <a routerLink="/cart"
                    >Cart<i class="fas fa-chevron-down"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
