.header_search_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px;
}

.header_search_button i {
  color: #fff;
  font-size: 18px;
  margin: auto;
}

.header_search_button:hover {
  background-color: #0e8be40c;
  -webkit-box-shadow: 0px 0px  3px #0e8ce4 inset;
          box-shadow: 0px 0px  3px #0e8ce4 inset;
}

.header_search_button:hover i {
  color: #0e8ce4;
}

#applicationPreLoader {
  position: fixed;
  height: 100vh;
  z-index: 9999;
  /* KEYFRAMES */
  /* GRID STYLING */
  /* PULSE BUBBLES */
}

#applicationPreLoader #preloader {
  overflow: hidden;
  background: #fff;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  z-index: 9999;
}

#applicationPreLoader .loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  margin-top: -100px;
  margin-left: -100px;
}

#applicationPreLoader .loader > .dot {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  width: 160px;
  height: 100px;
  margin-top: -50px;
  margin-left: -80px;
  border-radius: 5px;
  background-color: #1e3f57;
  transform-type: preserve-3d;
  -webkit-animation: dot1 3s cubic-bezier(0.55, 0.3, 0.24, 0.99) infinite;
          animation: dot1 3s cubic-bezier(0.55, 0.3, 0.24, 0.99) infinite;
}

#applicationPreLoader .loader > .dot:nth-child(2) {
  z-index: 11;
  width: 150px;
  height: 90px;
  margin-top: -45px;
  margin-left: -75px;
  border-radius: 3px;
  background-color: #3c617d;
  -webkit-animation-name: dot2;
          animation-name: dot2;
}

#applicationPreLoader .loader > .dot:nth-child(3) {
  z-index: 12;
  width: 40px;
  height: 20px;
  margin-top: 50px;
  margin-left: -20px;
  border-radius: 0 0 5px 5px;
  background-color: #6bb2cd;
  -webkit-animation-name: dot3;
          animation-name: dot3;
}

@-webkit-keyframes dot1 {
  3%,
  97% {
    width: 160px;
    height: 100px;
    margin-top: -50px;
    margin-left: -80px;
  }
  30%,
  36% {
    width: 80px;
    height: 120px;
    margin-top: -60px;
    margin-left: -40px;
  }
  63%,
  69% {
    width: 40px;
    height: 80px;
    margin-top: -40px;
    margin-left: -20px;
  }
}

@keyframes dot1 {
  3%,
  97% {
    width: 160px;
    height: 100px;
    margin-top: -50px;
    margin-left: -80px;
  }
  30%,
  36% {
    width: 80px;
    height: 120px;
    margin-top: -60px;
    margin-left: -40px;
  }
  63%,
  69% {
    width: 40px;
    height: 80px;
    margin-top: -40px;
    margin-left: -20px;
  }
}

@-webkit-keyframes dot2 {
  3%,
  97% {
    width: 150px;
    height: 90px;
    margin-top: -45px;
    margin-left: -75px;
  }
  30%,
  36% {
    width: 70px;
    height: 96px;
    margin-top: -48px;
    margin-left: -35px;
  }
  63%,
  69% {
    width: 32px;
    height: 60px;
    margin-top: -30px;
    margin-left: -16px;
  }
}

@keyframes dot2 {
  3%,
  97% {
    width: 150px;
    height: 90px;
    margin-top: -45px;
    margin-left: -75px;
  }
  30%,
  36% {
    width: 70px;
    height: 96px;
    margin-top: -48px;
    margin-left: -35px;
  }
  63%,
  69% {
    width: 32px;
    height: 60px;
    margin-top: -30px;
    margin-left: -16px;
  }
}

@-webkit-keyframes dot3 {
  3%,
  97% {
    width: 40px;
    height: 20px;
    margin-top: 50px;
    margin-left: -20px;
  }
  30%,
  36% {
    width: 8px;
    height: 8px;
    margin-top: 49px;
    margin-left: -5px;
    border-radius: 8px;
  }
  63%,
  69% {
    width: 16px;
    height: 4px;
    margin-top: -37px;
    margin-left: -8px;
    border-radius: 10px;
  }
}

@keyframes dot3 {
  3%,
  97% {
    width: 40px;
    height: 20px;
    margin-top: 50px;
    margin-left: -20px;
  }
  30%,
  36% {
    width: 8px;
    height: 8px;
    margin-top: 49px;
    margin-left: -5px;
    border-radius: 8px;
  }
  63%,
  69% {
    width: 16px;
    height: 4px;
    margin-top: -37px;
    margin-left: -8px;
    border-radius: 10px;
  }
}

@-webkit-keyframes pulse {
  from {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    opacity: .25;
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
}

@keyframes pulse {
  from {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    opacity: .25;
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
}

#applicationPreLoader .spinner-box {
  width: 300px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  z-index: 9999;
  position: fixed;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#applicationPreLoader .pulse-container {
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#applicationPreLoader .pulse-bubble {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #0e8ce4;
}

#applicationPreLoader .pulse-bubble-1 {
  -webkit-animation: pulse .4s ease 0s infinite alternate;
          animation: pulse .4s ease 0s infinite alternate;
}

#applicationPreLoader .pulse-bubble-2 {
  -webkit-animation: pulse .4s ease .2s infinite alternate;
          animation: pulse .4s ease .2s infinite alternate;
}

#applicationPreLoader .pulse-bubble-3 {
  -webkit-animation: pulse .4s ease .4s infinite alternate;
          animation: pulse .4s ease .4s infinite alternate;
}
/*# sourceMappingURL=header.component.css.map */