.header_search_button{
  display: flex;
  padding: 12px;
  i{
    color: #fff;
    font-size: 18px;
    margin: auto;
  }
  &:hover{
    background-color: #0e8be40c;
    box-shadow: 0px 0px  3px #0e8ce4 inset;
    i{
      color: #0e8ce4;
    }
  }
}
