<!-- Cart -->

<div class="cart_section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div class="cart_container">
          <div class="cart_title">Shopping Cart</div>
          <div class="cart_items">
            <ul class="cart_list" *ngFor="let item of cart;let i = index">
              <li class="cart_item clearfix">
                <div class="cart_item_image">
                  <img src="../../assets/images/{{ item.prodImg }}" alt="" />
                </div>
                <div
                  class="
                    cart_item_info
                    d-flex
                    flex-md-row flex-column
                    justify-content-between
                  "
                >
                  <div class="cart_item_name cart_info_col">
                    <div class="cart_item_title"><div class="fixed-width">Name</div></div>
                    <div class="cart_item_text">{{ item.prodName }}</div>
                  </div>
                  <div class="cart_item_quantity cart_info_col">
                    <div class="cart_item_title"><div class="fixed-width">Quantity</div></div>
                    <div class="cart_item_text"><div class="text">{{ item.qty }}</div>
                      <div class="cart_quantity_buttons">
                        <div
                          id="quantity_inc_button"
                          class="quantity_inc quantity_control"
                          (click)="increase(i)"
                        >
                          <i class="fas fa-chevron-up"></i>
                        </div>
                        <div
                          id="quantity_dec_button"
                          class="quantity_dec quantity_control"
                          (click)="decrease(i)"
                        >
                          <i class="fas fa-chevron-down"></i>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="cart_item_price cart_info_col">
                    <div class="cart_item_title"><div class="fixed-width">Price</div></div>
                    <div class="cart_item_text">${{ item.prodPrice }}</div>
                  </div>
                  <div class="cart_item_total cart_info_col">
                    <div class="cart_item_title"><div class="fixed-width">Total</div></div>
                    <div class="cart_item_text">${{ item.totalPrice }}</div>
                  </div>
                  <div class="cart_item_action cart_info_col">
                    <div class="cart_item_title"><div class="fixed-width">Remove</div></div>
                    <div class="cart_item_text">
                      <i
                        class="fas fa-trash"
                        (click)="deleteFromCart(item)"
                      ></i>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>

          <!-- Order Total -->
          <div class="order_total">
            <div class="order_total_content text-md-right">
              <div class="order_total_title">Order Total:</div>
              <div class="order_total_amount">${{ totalPrice }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="contact_form">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div class="contact_form_container">
          <div class="contact_form_title">Fill in your info</div>

          <form action="#" id="order_form">
            <div
              class="
                contact_form_inputs
                d-flex
                flex-md-row flex-column
                justify-content-between
                align-items-between
              "
            >
              <div class="input-container position-relative">
                <input
                  type="text"
                  id="contact_form_name"
                  class="contact_form_name input_field"
                  placeholder="Your name"
                />
                <span class="fa fa-check check-icon" id="checkIconName"></span>
                <div class="validate-alert" id="validateAlertName">
                  Name Is Required
                  <div class="arrow-div"></div>
                </div>
              </div>
              <div class="input-container">
                <input
                  type="email"
                  id="contact_form_email"
                  class="contact_form_email input_field"
                  placeholder="Your email"
                />
                <span class="fa fa-check check-icon" id="checkIconEmail"></span>
                <div class="validate-alert" id="validateAlertEmail">
                  Enter a Valid Email
                  <div class="arrow-div"></div>
                </div>
              </div>
              <div class="input-container">
                <input
                  type="phone"
                  id="contact_form_phone"
                  class="contact_form_phone input_field"
                  placeholder="Your phone number"
                />
                <span class="fa fa-check check-icon" id="checkIconPhone"></span>
                <div class="validate-alert" id="validateAlertPhone">
                  Enter a Valid Egyptian Phone Number
                  <div class="arrow-div"></div>
                </div>
              </div>
            </div>
            <div class="contact_form_text position-relative">
              <textarea
                id="contact_form_message"
                class="text_field contact_form_message"
                rows="4"
                placeholder="Your address"
              ></textarea>
              <span class="fa fa-check check-icon"  id="checkIconAddress"></span>
              <div class="position-relative">
                <div class="validate-alert textarea-alert" id="validateAlertAddress">
                  Address Is Required
                  <div class="arrow-div"></div>
                </div>
              </div>
            </div>
            <div class="contact_form_button">
              <button type="submit" class="button contact_submit_button" (click)="validateInputs()">
                Submit Order
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="panel"></div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Thanks</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Your order is submitted
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="successModelClose" (click)="goToHome()">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal error -->
<div class="modal fade" id="modalError" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">alert</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        you must select items first
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
