#toDelete{
  display: none;
  .hidden-div{
    visibility: hidden;
  }
  #cart_delete_button{
    padding-left: 35px;
    padding-right: 35px;
    height: 48px;
    background-color: #fff;
    border: solid #e5e5e5 0.3px;
    color: rgb(255, 80, 80);
  }
}
// @import url(../../../node_modules/owl.carousel/dist/assets/owl.carousel.min.css);

// --------------- /// -------------------------//

.carousel_item img{
  margin: auto;
      max-width: 35% !important;
}
.carousel_nav_button{
  /* background-color: #fff !important; */
  border: 1px solid #e5e5e5 !important;
  color: #e5e5e5;
  cursor: pointer;
  z-index: 99;
  top: 50%;
  transform: translateY(-50%);
  position:absolute;
}
.carousel_nav_button:hover{
  color: #fff;
  background-color: #e5e5e5;
}
.carousel_nav_button {
  box-shadow: 0px 0px #e5e5e5 !important;
}
.right_button{
  right: 20px;
  // padding-right: 5px;
}
.left_button{
  left: 20px;
}
.carousel_nav{
  position:absolute;
  bottom: 10%;
  right: 50%;
  transform: translateX(50%);
  z-index: 99;

}
.carousel_nav button{
  width: 15px;
  height: 3px;
  border: 1px solid #e5e5e5 ;
  color: #e5e5e5;
  background-color: #e5e5e5;
  cursor: pointer;
  z-index: 99;
  padding: 0px;
  margin: 1.5px;
}
.carousel_nav button:focus{
  background-color: #0e8ce4;
  box-shadow: 0px 0px #0e8ce4 !important;
  border-color: #0e8ce4 !important;
}
.nav_active{
  background-color: #0e8ce4 !important;
  /* box-shadow: 0px 0px 1px 1px #0e8ce4 !important;  */
  border: 0px solid #0e8ce4 !important;
}




.item{
  // float: left;
}
.image-selected{
  width: 100%;
  height: 493px;
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    max-width: 40% !important;
    max-height: 100%;
  }

}
owl-carousel-o{
  height: 100%;
}
.wl-carousel, .owl-theme, .owl-loaded, .owl-responsive, .owl-drag{
  height: 350px !important;
}
.images{
  // display: flex;
  //   flex-direction: column;
  //   justify-content: center;
    align-items: center;
    width: calc(100% + 15px);
    height: 525px;
    transform: translateX(-15px);
    border: solid 1px #e8e8e8;
    box-shadow: 0px 1px 5px rgb(0 0 0 / 10%);
    overflow: hidden;
    padding: 15px;
    cursor: grab;
    // margin-left: 7px;
    .my-owl-carousel{
      .owl-carousel{
        height: 300px;
      }
    }
    .owl-carousel:nth-child(0){
      height: 100%;
    }
}

@media screen and (max-width:575.93px) {
  .images{
    margin-left: 7px;
    height: calc(100vw - 30px);
    // width: 100vw;
  }
  .image-selected{
    height: calc(100vw - 65px);
  }
  .product_description{
    padding-left: 0px;
    text-align: center;
  }
  #cart_delete_button{
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .order_info{
    // margin: auto;
    justify-content: center;
  }
  #toAdd,#toDelete{
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: center;
    .product_price{
      width: 100%;
      text-align: center;
      margin-left: 0px;
    }
    .product_quantity{
      // padding: 0px;
      margin: auto;
    }
  }
  // #toDelete{
  //   display: flex;
  //   flex-wrap: wrap;
  //   justify-content: center;
  // }
}

@media only screen and (max-width: 1199px) and (min-width:576px) {
  .images{
    height: 420px;
  }
  .image-selected{
    height: 420px;
  }
}
@media only screen and (max-width: 1199px) and (min-width:992px) {
  .images{
    height: 420px;
  }
  .image-selected{
    height: 420px;
  }
}
