<!-- Single Product -->

<div class="single_product">
  <div class="container">
    <div class="row">
      <!-- Images -->
      <!-- <div class="col-lg-2 order-lg-1 order-2">
        <ul class="image_list">
          <li data-image="images/single_4.jpg"><img src="images/single_4.jpg" alt=""></li>
          <li data-image="images/single_2.jpg"><img src="images/single_2.jpg" alt=""></li>
          <li data-image="images/single_3.jpg"><img src="images/single_3.jpg" alt=""></li>
        </ul>
      </div> -->

      <!-- Selected Image -->
      <div class="col-lg-6 order-lg-2 order-1">
        <div class="image_selected">
          <img src="../../assets/test/{{ result.product.prodImg }}" alt="" />
        </div>
      </div>

      <!-- Description -->
      <div class="col-lg-6 order-3">
        <div class="product_description">
          <div class="product_category">{{ result.product.catName }}</div>
          <div class="product_name">{{ result.product.prodName }}</div>
          <div class="product_text">
            <p>{{ result.product.prodDesc }}</p>
          </div>
          <div class="order_info d-flex flex-row">
            <form>
              <div class="clearfix" style="z-index: 1000">
                <div id="toAdd">
                  <!-- Product Quantity -->
                  <div class="product_quantity clearfix">
                    <span>Quantity: </span>
                    <input
                      id="quantity_input"
                      type="text"
                      pattern="[0-9]*"
                      value="1"
                    />
                    <div class="quantity_buttons">
                      <div
                        id="quantity_inc_button"
                        class="quantity_inc quantity_control"
                        (click)="increase()"
                      >
                        <i class="fas fa-chevron-up"></i>
                      </div>
                      <div
                        id="quantity_dec_button"
                        class="quantity_dec quantity_control"
                        (click)="decrease()"
                      >
                        <i class="fas fa-chevron-down"></i>
                      </div>
                    </div>
                  </div>

                  <div class="product_price" id="product_price">
                    ${{ result.product.prodPrice }}
                  </div>

                  <div class="button_container">
                    <button
                      type="button"
                      class="button cart_button"
                      id="cart_button"
                      (click)="submitForm()"
                    >
                      Add to Cart
                    </button>
                  </div>
                </div>
                <div id="toDelete">
                  <div class="button_container">
                    <button
                      type="button"
                      class="button cart_button"
                      id="cart_button"
                      (click)="submitForm()"
                    >
                       delete from Cart
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <script type="text/javascript">
//     let quantity_input = document.getElementById("quantity_input");
// let product_price = document.getElementById("product_price");
// let qty= 1;
// function increase(price){
//     quantity_input.value++;
//     qty++;
//     product_price.innerHTML = "$".concat(price*qty);
// }
// function decrease(price){
//     if(qty>1) {
//         quantity_input.value--;
//         qty--;
//         product_price.innerHTML = "$".concat(price*qty);
//     }
// }
</script> -->
