<!-- Single Product -->

<div class="single_product position-relative">
  <!-- Loader -->
  <div id="preLoaderContainer" *ngIf="unLoaded" class=" my-5">
    <svg
      class="spinner"
      width="50px"
      height="50px"
      viewBox="0 0 66 66"
      xmlns="http://www.w3.org/2000/svg"
    >
      <circle
        class="path"
        fill="none"
        stroke-width="6"
        stroke-linecap="round"
        cx="33"
        cy="33"
        r="30"
      ></circle>
    </svg>
  </div>
  <div class="container">

    <div class="row">
      <!-- Images -->
      <!-- <div class="col-lg-2 order-lg-1 order-2">
        <ul class="image_list">
          <li data-image="images/single_4.jpg"><img src="images/single_4.jpg" alt=""></li>
          <li data-image="images/single_2.jpg"><img src="images/single_2.jpg" alt=""></li>
          <li data-image="images/single_3.jpg"><img src="images/single_3.jpg" alt=""></li>
        </ul>
      </div> -->

      <!-- Selected Image -->
      <div class="col-lg-6 order-lg-2 order-1">
        <div class="images">
          <!-- <img src="../../assets/test/{{ result.product.prodImg }}" alt="" /> -->

          <div class="h-100 my-owl-carousel">
            <owl-carousel-o [options]="customOptions" #owlCar (dragging)="dragEvent(owlCar)">
              <ng-template carouselSlide id="slide-0"> <div class="image-selected"> <img src="../../assets/test/1.jpg"> </div> </ng-template>  
              <ng-template carouselSlide id="slide-1"> <div class="image-selected"> <img src="../../assets/test/2.jpg"> </div> </ng-template>  
              <ng-template carouselSlide id="slide-2"> <div class="image-selected"> <img src="../../assets/test/4.jpg"> </div> </ng-template>  
            </owl-carousel-o>  
          </div>
          <button class="btn btn-outline-secondary carousel_nav_button right_button" *ngIf="rightButtonEnabled" (click)="owlCar.next()" (click)="rightButtonClicked()"><i class="fas fa-chevron-right"></i></button>
          <button class="btn btn-outline-secondary carousel_nav_button left_button"  *ngIf="leftButtonEnabled"  (click)="owlCar.prev()" (click)="leftButtonClicked()"><i class="fas fa-chevron-left"></i></button>
            <div class="carousel_nav">
            <button type="button" class="btn nav_active" (click)="owlCar.to('slide-0')" (click)="changeCurrentSlide(0)"></button>
            <button type="button" class="btn" (click)="owlCar.to('slide-1')" (click)="changeCurrentSlide(1)"></button>
            <button type="button" class="btn" (click)="owlCar.to('slide-2')" (click)="changeCurrentSlide(2)"></button>
          </div>
        </div>
      </div>

      <!-- Description -->
      <div class="col-lg-6 order-3">
        <div class="product_description">
          <div class="product_category">{{ result.product.catName }}</div>
          <div class="product_name">{{ result.product.prodName }}</div>
          <div class="product_text">
            <p>{{ result.product.prodDesc }}</p>
          </div>
          <div class="order_info d-flex flex-row">
            <form>
              <div class="clearfix" style="z-index: 1000">
                <div id="toAdd">
                  <!-- Product Quantity -->
                  <div class="product_quantity clearfix">
                    <span>Quantity: </span>
                    <input
                      id="quantity_input"
                      type="text"
                      pattern="[0-9]*"
                      value="1"
                    />
                    <div class="quantity_buttons">
                      <div
                        id="quantity_inc_button"
                        class="quantity_inc quantity_control"
                        (click)="increase()"
                      >
                        <i class="fas fa-chevron-up"></i>
                      </div>
                      <div
                        id="quantity_dec_button"
                        class="quantity_dec quantity_control"
                        (click)="decrease()"
                      >
                        <i class="fas fa-chevron-down"></i>
                      </div>
                    </div>
                  </div>

                  <div class="product_price" id="product_price">
                    ${{ result.product.prodPrice }}
                  </div>

                  <div class="button_container">
                    <button
                      type="button"
                      class="button cart_button"
                      id="cart_button"
                      (click)="submitForm()"
                    >
                      Add to Cart
                      <i class="fas fa-cart-plus pl-2"></i>
                    </button>
                  </div>
                </div>
                <div id="toDelete">
                  <div class="hidden-div">
                    <div class="product_quantity clearfix">
                      <span>Quantity: </span>
                      <input
                        id="quantity_input"
                        type="text"
                        pattern="[0-9]*"
                        value="1"
                      />
                      <div class="quantity_buttons">
                        <div
                          id="quantity_inc_button"
                          class="quantity_inc quantity_control"
                        >
                          <i class="fas fa-chevron-up"></i>
                        </div>
                        <div
                          id="quantity_dec_button"
                          class="quantity_dec quantity_control"
                        >
                          <i class="fas fa-chevron-down"></i>
                        </div>
                      </div>
                    </div>
  
                    <div class="product_price" id="product_price">
                      545
                    </div>
                  </div>
                  <div class="button_container">
                    <button
                      type="button"
                      class="button cart_button"
                      id="cart_delete_button"
                      (click)="submitForm()"
                    >
                       Delete from Cart
                      <i class="fa fa-trash pl-2"></i>
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




